@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 67% 97%;
    --foreground: 220 10% 15%;
    --card: 228 60% 99%;
    --card-foreground: 220 10% 15%;
    --popover: 228 60% 99%;
    --popover-foreground: 220 10% 15%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 50% 92%;
    --secondary-foreground: 231 48% 38%;
    --muted: 228 50% 92%;
    --muted-foreground: 220 8% 40%;
    --accent: 260 44% 68%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 40% 88%;
    --input: 228 40% 88%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 260 44% 78%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 231 48% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
